<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/30a455871e.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <h1 class="navbar-brand" th:text="'Welcome to Admin Page'"></h1>
    </div>
</nav>

<div class="text-center w-75 mx-auto">
    <h1 class="text-center mb-3">Registered List</h1>
    <table class="table table-striped table-bordered rounded p-3">
        <thead>
        <tr style="background-color: lightblue ">
            <th scope="col">User Id</th>
            <th scope="col">Assessment</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th colspan="2" scope="col" style="width:15%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employees : ${employees}">
            <th th:text="${employees.userId}"></th>
            <td th:text="${employees.assessment}"></td>
            <td th:text="${#dates.format(employees.date, 'dd-MM-yyyy')}"></td>
            <td th:text="${employees.type}"></td>
            <td><a class="btn btn-primary text-decoration-none" href="">
                <i class="fa-solid fa-pen"></i></a></td>
            <td><a class="btn btn-danger text-decoration-none" href="">
                <i class="fa-solid fa-trash"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>